<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76249013032-hotcph38ko678gjhcaspal9q8i4vpho1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76249013032-hotcph38ko678gjhcaspal9q8i4vpho1</string>
	<key>API_KEY</key>
	<string>AIzaSyDbyIiXDxBbjGJiB3L0sQipcA5YDDEHMtw</string>
	<key>GCM_SENDER_ID</key>
	<string>76249013032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.megaPetertan343</string>
	<key>PROJECT_ID</key>
	<string>mega-petertan343</string>
	<key>STORAGE_BUCKET</key>
	<string>mega-petertan343.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76249013032:ios:bf9d9ab041e043ad33ce1d</string>
</dict>
</plist>