<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6zWlU3JoAmP1WtDDbwxgLbIo7m8QKVtU</string>
	<key>GCM_SENDER_ID</key>
	<string>536114427156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezdb.user</string>
	<key>PROJECT_ID</key>
	<string>myapp-16523</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-16523.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536114427156:ios:8796ffc7241b0d46c53e01</string>
</dict>
</plist>